<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smart Home Automation Dashboard</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="../static/css/dashboard.css"> -->
  <link rel="stylesheet" href="../static/css/main.css">

  <!-- Custom CSS -->
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
  </style>
  <!-- jQuery -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <!-- Circle Progress JS -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.2.2/circle-progress.min.js' ?></script>
</head>


<body>

  <div class="container-fluid">
    <div class="row">
      <!--Navbar  -->
      <div class="dashboard_container col-sm-1 shadow border-0 sidebar"
       >

        <ul class="nav flex-column pt-5">
          <li class="nav-item">
            <a class="nav-link" href="#"><img class="dashboard_profilepic"
                src="../static/img/182-1829287_cammy-lin-ux-designer-circle-picture-profile-girl.png" alt=""
               >
              
            </a>
            <span class="dashboard_profilename text " >Hi Navi!</span>
          </li>
          <br>
          <br>
          <li class="nav-item">
            <a class="nav-link" href="Dashboard.html">
              <div class="dashboard_iconbox">
                <img src="../static/img/dashboard (1).png" alt="" class="dashboard_dashboardicon icon" >
                <div class="dashboard_index dashboard_hoverbox">
                  <span class="dashboard_hovertext">Dashboard</span>
                </div>
              </div>
            </a>
          </li>
          <br>
          <li class="nav-item">
            <a class="nav-link" href="devices.html">
              <div class="dashboard_iconbox">
                <img src="../static/img/devices.png" alt="" class="dashboard_pcicon icon" >
                <div class="dashboard_index dashboard_hoverbox" >
                  <span class="dashboard_hovertext">Devices</span>
                </div>
              </div>
            </a>
          </li>
          <br>
          <li class="nav-item">
            <a class="nav-link" href="grantuseraccess.html">
              <div class="dashboard_iconbox">
                <img src="../static/img/login.png" alt="" class="dashboard_loginpic icon">
                <div class="dashboard_index dashboard_hoverbox" >
                  <span class="dashboard_hovertext">Grant User Access</span>
                </div>
              </div>
            </a>
          </li>
          <br>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <div class="dashboard_iconbox">
                <img src="../static/img/history.png" alt="" class="dashboard_history icon" >
                <div class="dashboard_index dashboard_hoverbox" >
                  <span class="dashboard_hovertext">Schedule Devices</span>
                </div>
              </div>
            </a>
          </li>
          <br>
          <li class="nav-item">
            <a class="nav-link" href="devicewarranty.html">
              <div class="dashboard_iconbox">
                <img src="../static/img/warranty.png" alt="" class="dashboard_warrantypic icon" >
                <div class="dashboard_index dashboard_hoverbox" >
                  <span class="dashboard_hovertext">Devices Warranty</span>
                </div>
              </div>
            </a>
          </li>
          <br>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <div class="dashboard_iconbox">
                <img src="../static/img/help.png" alt="" class="dashboard_help icon" >
                <div class="dashboard_index dashboard_hoverbox" >
                  <span class="dashboard_hovertext">Support</span>
                </div>
              </div>
            </a>
          </li>
          <br>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <div class="dashboard_iconbox">
                <img src="../static/img/setting.png" alt="" class="dashboard_setting icon" >
                <div class="dashboard_index dashboard_hoverbox" >
                  <span class="dashboard_hovertext">Settings</span>
                </div>
              </div>
            </a>
          </li>
          <br>
          <br>
          <br>

          <li class="nav-item">
            <a class="nav-link" href="#" onclick="showConfirmDialog()">
              <div class="dashboard_iconbox">
                <img src="../static/img/exit.png" alt="" class="dashboard_exit icon">
                <div class="dashboard_index dashboard_hoverbox" >
                  <span class="dashboard_hovertext">Logout</span>
                </div>
              </div>
            </a>
          </li>

<!-- LOGOUT POP UP -->
          <div id="confirmDialog" class="dashboard_conformdialog dashboard_confirm-dialog" >
            <div class="dashboard_confirmbox p-3">
              <p class="dashboard_surelogout" style="font-family: 'Nunito', sans-serif;">Are you sure you want to logout?</p>
              <button onclick="logout()"
                
                class="dashboard_logout border-0 shadow">Logout</button>
              <button onclick="hideConfirmDialog()"
                
                class="dashboard_cancel border-0 shadow">Cancel</button>
            </div>
          </div>
        </ul>
      </div>
      <!-- navbar -->
      <div class="col ">

        <!-- search -->
        <div class="row align-items-center">
          <div class="col-md-9 pt-3 pl-5">
            <div class="dashboard_card shadow border-0 position-relative">
              <img src="../static/img/" alt="Image" class="dashboard_imageoverlap">
              <h3 class="dashboard_welcomeback text pt-3 pl-3 dashboar_profile_text"
                >WELCOME BACK! Navi</h3>
              <h5 class="dashboard_haveaniceday text pl-4" >Have a Nice Day!</h5>
            </div>
          </div>
          
          
          <div class="col-md-3 pt-3">
            <div class="input-group">                             
              <input type="text" class="dashboard_search form-control border-0" placeholder="Search"
               >
              <div class="input-group-append">
                <button class=" btn" type="button"><img class="dashboard_searchicon" src="../static/img/search.png" alt=""
                    ></button>
                <button class="dashboard_ btn" type="button"><img class="dashboard_bellicon" src="../static/img/bells.png" alt=""
                    ></button>
              </div>
            </div>
          </div>
        </div>
        <!-- search -->
<br>
        <!--  -->
        <div class="row">
          <!-- card1 devices -->
          <div class="col-md-9">
            <div class="dashboard_card border-0">
              <div class="row pt-3 align-items-center">
                <div class="col-md-6 pl-5">
                  <h3 class="dashboard_mydevice text"
                    >My
                    Devices</h3>
                </div>
                <div class="dashboard_addalldevice col-md-6 text-center" >
                  <button ><img class="dashboard_addiconpng" src="../static/img/add.png" alt=""
                     ></button>
                  <button class="dashboard_alldevice btn "
                   >All
                    devices</button>
                </div>
              </div>
              <div class="card-body">
                <div class="row justify-content-center">
                  <div class="col-md-2.5 p-3">
                    <div class="dashboard_container2 dashboard_card shadow border-0" >
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
                            <h5 class="dashboard_fan card-title" >Fan
                            </h5>
                            <img class="dashboard_fanimg" src="../static/img/fan 1.svg" alt=""><br>
                          </div>
                          <div class="col">
                            <div class="col toggle-container">
                              <label class="dashboard_switch">
                                <input type="checkbox" class="dashboard_toggleswitch">
                                <span class="dashboard_slider dashboard_round"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="row pl-3 pr-3 pt-3">
                          <span class="dashboard_temp text" >temp.</span>
                          <span class="dashboard_tempvalue text" >20 C</span>
                          <span class="dashboard_line text" >|</span>
                          <span class="dashboard_humidity text"
                            style="margin-right: 10px; font-family: 'Nunito', sans-serif;">Humidity</span>
                          <span class="dashboard_tempvalue2 text" >20 C</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2.5 p-3">
                    <div class="dashboard_container2 dashboard_card shadow border-0" >
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
                            <h5 class="dashboard_fan card-title">Fan
                            </h5>
                            <img class="dashboard_fanimg" src="../static/img/fan 1.svg" alt=""><br>
                          </div>
                          <div class="col">
                            <div class="col toggle-container">
                              <label class="dashboard_switch">
                                <input type="checkbox" class="dashboard_toggleswitch">
                                <span class="dashboard_slider dashboard_round"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="row pl-3 pr-3 pt-3">
                          <span class="dashboard_temp text" >temp.</span>
                          <span class="dashboard_tempvalue text" >20 C</span>
                          <span class="dashboard_line text" >|</span>
                          <span class="dashboard_humidity text"
                           >Humidity</span>
                          <span class="dashboard_tempvalue2 text" >20 C</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2.5 p-3">
                    <div class="dashboard_container2 dashboard_card shadow border-0" >
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
                            <h5 class="dashboard_fan card-title">Fan
                            </h5>
                            <img class="dashboard_fanimg" src="../static/img/fan 1.svg" alt=""><br>
                          </div>
                          <div class="col">
                            <div class="col toggle-container">
                              <label class="dashboard_switch">
                                <input type="checkbox" class="dashboard_toggleswitch">
                                <span class="dashboard_slider dashboard_round"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="row pl-3 pr-3 pt-3">
                          <span class="dashboard_temp text" >temp.</span>
                          <span class="dashboard_tempvalue text" >20 C</span>
                          <span class="dashboard_line text" >|</span>
                          <span class="dashboard_humidity text"
                            >Humidity</span>
                          <span class="dashboard_tempvalue2 text" >20 C</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2.5 p-3">
                    <div class="dashboard_container2 dashboard_card shadow border-0" >
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
                            <h5 class="dashboard_fan card-title" >Fan
                            </h5>
                            <img class="dashboard_fanimg" src="../static/img/fan 1.svg" alt="" ><br>
                          </div>
                          <div class="col">
                            <div class="col toggle-container">
                              <label class="dashboard_switch">
                                <input type="checkbox" class="dashboard_toggleswitch">
                                <span class="dashboard_slider dashboard_round"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="row pl-3 pr-3 pt-3">
                          <span class="dashboard_temp text">temp.</span>
                          <span class="dashboard_tempvalue text" >20 C</span>
                          <span class="dashboard_line text" >|</span>
                          <span class="dashboard_humidity text"
                            >Humidity</span>
                          <span class="dashboard_tempvalue2 text" >20 C</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="dashboard_card shadow border-0">
                  Graph
                </div>
              </div>
            </div>
          </div>
          <!-- card1 devices -->

          <!-- card2 weather -->
          <div class="col">
            <div class="dashboard_catetime dashboard_card shadow border-0">
              <div class="card-body">
                <!-- First Card -->
                <div class="row">
                  <div class="col d-flex align-items-center justify-content-start">
                    <!-- Add a div for the date with larger font size -->
                    <div class="dashboard_date1 date" >
                    </div>
                    <div class="dashboard_day1 day">
                    </div>
                  </div>
                  <div class="col d-flex align-items-center justify-content-end">
                    <div class="col d-flex align-items-center justify-content-end">
                      <div class="d-flex align-items-center">
                        <p class="dashboard_thisis card-text" id="current-time"
                         >This is <span></span></p>
                        <img class="dashboard_weathericon" src="../static/img/icons8-night-94.png" alt="Weather Icon" id="weather-icon"
                         >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <!-- Second Card -->
            <div class="dashboard_container5 dashboard_card shadow border-0" >
              <div class="card-body">
                <!-- First Row in the Second Card -->
                <div class="row pl-3 pt-3">
                  <div class="col">
                    <div class="row pl-3">
                      <img class="dashboard_groupmemberion" src="../static/img/182-1829287_cammy-lin-ux-designer-circle-picture-profile-girl.png" alt=""
                       >
                      <h5 class="dashboard_groupmenbername text-center pl-3 pt-2">jagruti</h5>
                    </div>
                  </div>

                  <div class="col-md-5">
                    <div class="row pl-3 pt-2">
                      <div class="col">
                        <div class="row justify-content-end">
                          <h5 class="dashboard_admin text" >Admin <span>
                              <button class=" btn" type="button"><img class="dashboard_adminedit" src="../static/img/edit (2).png" alt=""
                                 ></button></span></h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row pl-3 pt-3">
                  <div class="col">
                    <div class="row pl-3">
                      <img class="dashboard_groupmemberion" src="../static/img/182-1829287_cammy-lin-ux-designer-circle-picture-profile-girl.png" alt=""
                       >
                      <h5 class="dashboard_groupmenbername text-center pl-3 pt-2">jagruti</h5>
                    </div>
                  </div>

                  <div class="col-md-5">
                    <div class="row pl-3 pt-2">
                      <div class="col">
                        <div class="row justify-content-end">
                          <h5 class="dashboard_admin text">Admin <span>
                              <button class=" btn" type="button"><img class="dashboard_adminedit" src="../static/img/edit (2).png" alt=""
                                 ></button></span></h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row pl-3 pt-3">
                  <div class="col">
                    <div class="row pl-3">
                      <img class="dashboard_groupmemberion" src="../static/img/182-1829287_cammy-lin-ux-designer-circle-picture-profile-girl.png" alt=""
                       >
                      <h5 class="dashboard_groupmenbername text-center pl-3 pt-2">jagruti</h5>
                    </div>
                  </div>

                  <div class="col-md-5">
                    <div class="row pl-3 pt-2">
                      <div class="col">
                        <div class="row justify-content-end">
                          <h5 class="dashboard_admin text">Admin <span>
                              <button class=" btn" type="button"><img class="dashboard_adminedit" src="../static/img/edit (2).png" alt=""
                                 ></button></span></h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row pl-3 pt-3">
                  <div class="col">
                    <div class="row pl-3">
                      <img class="dashboard_groupmemberion" src="../static/img/182-1829287_cammy-lin-ux-designer-circle-picture-profile-girl.png" alt=""
                       >
                      <h5 class="dashboard_groupmenbername text-center pl-3 pt-2">jagruti</h5>
                    </div>
                  </div>

                  <div class="col-md-5">
                    <div class="row pl-3 pt-2">
                      <div class="col">
                        <div class="row justify-content-end">
                          <h5 class="dashboard_admin text" >Admin <span>
                              <button class=" btn" type="button"><img class="dashboard_adminedit" src="../static/img/edit (2).png" alt=""
                                 ></button></span></h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- card2weather -->
        </div>

        <!--  -->
      </div>
    </div>
  </div>
  </div>

  <button class="dashboard_togglebutton btn-primary toggle-button" onclick="toggleSidebar()"><img src="../static/img/menu-burger (1).png"
      alt="" height="30px" width="30px"></button>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script>
    function toggleSidebar() {                                                                    
      $('.sidebar').toggle();
    }
  </script>

  <script src="../static/js/dashboard.js"></script>
</body>

</html>

