<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../static/css/main.css">
    
</head>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
    
</style>
<body>
    <section class="vh-100 gradient-custom">
        <div class="container  h-100 text-center" style="padding-top: 20px;"> 
        <img src="../static/img/Evoluzn Logo (1) (1).png " alt="logo" style="height: 60px;width: 170px;">
  
        <p class="text-center pt-3" style="font-family: 'Nunito', sans-serif;font-weight: 600;color: rgb(78, 78, 78);font-size: 20px;"> INTELLIZENS SWITCHING PLATFORM FOR</p>
        <p class="text-center p-3" style="font-family: 'Nunito', sans-serif;color: rgb(78, 78, 78);font-size: 18px;"> <img src="../static/img/smarthome (2).png" alt="" style="height: 50px; width: 60px;margin-top: -15px;">Smarter Home Automation</p>

          <div class="row d-flex justify-content-center align-items-center ">
            <div class="col-12 col-lg-6 ">
              <div class="card bg-white text-white border-0 shadow " style="height: 640px;border-radius: 20px;">                                                                                                                                                                                                                                                                   " style="border-radius: 1rem;">
                <div class="card-body p-5 text-center" style="margin-top: -30px;">
                  <div class="signup">
                    <h2 class="fw-bold  " style="font-family: 'Nunito', sans-serif;color: #1e1b39;font-size: 25px;">Sign Up</h2>
                   <form>
      
                    <div class="user form-outline form-white mb-4 border-0">
                      <input type="email" id="typeEmailX" class="form-control form-control-lg border-0 p-3" style="background-color: #f3f3f7;font-family: 'Nunito', sans-serif;" placeholder="User" />
          
                      <label class="form-label justify-content-end" for="typeEmailX" style="color: #1e1b39;" ><img src="../static/img/user.png" style="height: 20px; width: 20px; margin-top: -90px;margin-right: -450px;"></label>
                    </div>
      
                    <div class="pass form-outline form-white mb-4">
                      <input type="password" id="typePasswordX" class="form-control form-control-lg border-0 p-3" style="background-color: #f3f3f7;font-family: 'Nunito', sans-serif;" placeholder="Password" />
                      <label class="form-label" for="typePasswordX"><img src="../static/img/eye.png" style="height: 20px; width: 20px; margin-top: -90px;margin-right: -450px;"></label>
                    </div>
 
                    <div class="email form-outline form-white mb-4 border-0">
                        <input type="email" id="typeEmailX" class="form-control form-control-lg border-0 p-3" style="background-color: #f3f3f7;font-family: 'Nunito', sans-serif;" placeholder="Email" />
                        <label class="form-label" for="typeEmailX" style="color: #1e1b39;" ><img src="../static/img/envelope.png" style="height: 20px; width: 20px; margin-top: -90px;margin-right: -450px;"></label>
                      </div>

                      <div class="number form-outline form-white mb-4 border-0">
                        <input type="email" id="typeEmailX" class="form-control form-control-lg border-0 p-3" style="background-color: #f3f3f7;font-family: 'Nunito', sans-serif;"  placeholder="Phone number" />
                        <label class="form-label" for="typeEmailX" style="color: #1e1b39;" ><img src="../static/img/phone-call.png" style="height: 20px; width: 20px; margin-top: -90px;margin-right: -450px;"></label>
                      </div>
      
                    <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>
      
                    <button class="btn  btn-lg px-5" type="submit" style="color: #ffffff; background-color: #9c3ab4;margin-top: -160px;font-family: 'Nunito', sans-serif;">Sign Up</button>
                    
      
                  </form>
      
                  </div>
                   
                  <div class="row">
                    <div class="col-12  d-flex justify-content-center " style="margin-top: -100px;">
                      <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"
                        class="fw-bold text-body" style="color: #1e1b39;"><u>Login here</u></a></p>
                    </div>
                  </div>
                  <br>
                  <p class="text-center" style="font-family: 'Nunito', sans-serif;font-size: 20px;">Powered by EVOLUZN</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>
    </body>
    
    </html>
            
                              
            
                            
                        
                            
                        
                          
                        